#page-address {
  display: flex;
  align-items: center;
  padding-top: 30px;
  height: 100vh;
  flex-direction: column;
  background-color: #fff;
  justify-content: flex-start;
}

.back {
  display: flex;
  margin-bottom: 30px;
}

.back img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.address-title {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
}

#page-address .address-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 1000px;
  height: 450px;
  border: 1px solid #dddddd;
  background-color: #fff;
  border-radius: 4px;
}

.address-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.address-group input {
  height: 31px;
  width: 80%;
  padding: 3px 7px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.address-group .email-label,
.address-group .password-label,
.address-group .name-label,
.address-group .password-repeat-label {
  font-size: 14px;
  align-self: flex-start;
  margin-left: 34px;
  margin-bottom: 5px;
}

.address-group label + input {
  margin-bottom: 30px;
}

.address-btn {
  width: 80%;
  height: 40px;
  border-radius: 3px;
  color: #000;
  background-color: #ffdd00;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: 400ms;
}

.address-btn:hover {
  background-color: #eccd00;
}

.bottom-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-group p {
  margin-top: 20px;
}

.bottom-group a {
}
