.container {
  width: 100vw;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #c4c4c4;
  width: 100vw;
  height: 20vh;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 4rem;
}

.search-group {
  height: 2.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search-group input {
  width: 90%;
  border: 0;
  border-radius: 10px 0 0 0;
  outline: 0;
  padding: 0 1rem;
}

.search-group button {
  width: 11%;
  border: 0;
  cursor: pointer;
  border-radius: 0 10px 0 0;
}

.search-group button img {
  width: 1.75rem;
  height: 1.75rem;
}

.check-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #dedede;
  padding: 5px;
}

.check-group {
  display: flex;
  align-items: center;
}

.check-group label {
  margin-left: 0.5rem;
  font-size: 0.85rem;
  font-weight: 600;
}

.register-login {
  display: flex;
  flex-direction: row;
  max-width: 8rem;
}

.register-login a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  margin-left: 8px;
}
